.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width: 0.2px 0.2px 0.5px 0.2px;
}

.semi-top {
    -fx-border-color: #000;
    -fx-border-width: 0px 0px 0.5px 0px;
}
.close-btn{
    -fx-background-color: transparent;
    -fx-cursor:hand;

}

.close-btn:hover{
    -fx-background-color: #f13f57;
}

.minimize-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize-btn:hover {
    -fx-background-color:#dddddd;
}

.bars{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-cursor:hand;
}

.bars:hover {
    -fx-background-color: #d6d6d6;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #252d50, #324f6b);
}

.edit-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.nav-btn {
    -fx-background-color: linear-gradient(to bottom right, #344275, #3a6389);
    -fx-background-radius: 10px;
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
    -fx-font-family: "Microsoft Sans Serif";
    -fx-cursor: hand;
}

.nav-btn: hover {
    -fx-background-color: linear-gradient(to bottom right, #46589a, #4278a7);
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.logout-btn {
    -fx-background-color: #366d9d;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.card-form {
    -fx-background-color: #f8f8f8;
    -fx-border-color: #454368;
    -fx-border-radius:10px;
    -fx-background-radius: 10px;
}

.image-card {
    -fx-background-color: #fff;
    -fx-border-color:#000;
}

.save-btn {
    -fx-background-color: #558e74;
    -fx-background-radius: 15px;
    -fx-font-size: 15px;
    -fx-cursor:hand;
    -fx-text-fill: #fff;
}

.save-btn: hover {
    -fx-background-color: #57b187
}

.take-btn {
    -fx-background-color: #914f96;
    -fx-background-radius: 15px;
    -fx-cursor: hand;
    -fx-font-size: 15px;
    -fx-text-fill: #fff;
}

.take-btn: hover {
    -fx-background-color: #b356bb;
}

.textfield_take {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #000;
    -fx-border-width: 0.4px;
    -fx-font-size: 14px;
}

.textfield_take : focused {
    -fx-border-width: 0.8px;
}

.label_take {
    -fx-background-color: #fff;
    -fx-padding: 0px 0px 0px 8px;
    -fx-font-size: 14px;
    -fx-border-color: #000;
    -fx-border-radius: 5px;
    -fx-border-width: 0.4px;
    -fx-background-radius: 5px;
}

.clear-btn{
    -fx-background-color:#376282;
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.clear-btn:hover{
    -fx-background-color:#4386b5;
}